body {
    border-collapse: collapse;
    background-color: black;
    color: rgb(155, 155, 155);
    margin: 0;
}
.contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    background: rgb(30, 29, 29);
    border-radius: 15px;
    justify-content: center;
    align-items: first baseline;
    align-content: center;
    height: 500px;
}

section {
    position: absolute;
    border: 2px white solid;
}

article {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 3px;
    width: 100px;
    border: 2px rgb(152, 152, 152) solid;  
    text-align: center;
    
}
